@tailwind base;
@tailwind components;
@tailwind utilities;

/********************/
/* General Elements */
/********************/

h1 {
    @apply font-bold text-2xl sm:text-4xl;
}

h2 {
    @apply font-bold text-xl sm:text-2xl;
}

h3 {
    @apply font-bold text-lg sm:text-2xl;
}

:is(h1, h2, h3, h4, h5, h6, p) > a:any-link {
    @apply text-fgs2 underline;
}

nav {
    @apply w-full sticky top-0 z-50 p-2 border-b border-solid;
}

code {
    @apply px-1 rounded-md bg-fgp1/30;
}

/*****************/
/* Form Elements */
/*****************/

label {
    @apply text-sm font-semibold;
}

/*
div:has(> *.flex-1) {
    @apply flex-1 min-w-0;
}
*/
div:not(.input-group) > :is(input, button, select) {
    @apply rounded-lg;
}
div.input-group > :is(input, button):first-child {
    @apply rounded-l-lg;
}
div.input-group > :is(input, button):last-child {
    @apply rounded-r-lg;
}

input {
    @apply flex-1 min-w-0 py-2 px-3 border border-bgp2 ring-bgs2 ring-inset focus:outline-none focus:ring-2;
}
div > select {
    @apply flex-1 min-w-0 py-3 px-3 border border-bgp2 ring-bgs2 ring-inset focus:outline-none focus:ring-2;
}
input[type="file"] {
    display: none;
}
input:enabled, div > select:enabled {
    @apply bg-bgp2/30;
}
input:disabled, div > select:disabled {
    @apply hover:cursor-not-allowed bg-bgp2/100;
}

:is(button, [type='button'], [type='reset'], [type='submit']) {
    @apply flex-none py-2 px-3 border-2 border-bgs2/0;
}
:is(button, [type='button'], [type='reset'], [type='submit']) svg {
    @apply h-5 w-5 sm:h-4 sm:w-4;
}
:is(button, [type='button'], [type='reset'], [type='submit']):enabled {
    @apply bg-bgs1 hover:border-bgs2/100 transition-colors;
}
:is(button, [type='button'], [type='reset'], [type='submit']):enabled svg {
    @apply text-fgp1;
}
:is(button, [type='button'], [type='reset'], [type='submit']):disabled {
    @apply bg-bgs1/40;
}
:is(button, [type='button'], [type='reset'], [type='submit']):disabled svg {
    @apply text-fgp1/50;
}

/******************/
/* Custom Classes */
/******************/

.input-group {
    @apply flex flex-row justify-center;
}

/* Source: https://stackoverflow.com/a/25825731/837221 */
.input-file {
    @apply block text-base font-normal text-center py-2 px-3 hover:cursor-pointer rounded-lg border-2 text-bgp1 bg-bgs2 border-bgs1/0 hover:border-bgs1/100 transition-colors;
}

.image-preview {
    @apply object-cover object-center w-full max-w-full max-h-[calc(100vh-200px)] aspect-square rounded-lg border-2 border-dashed border-fgp1/60;
}

.icon-control {
    @apply absolute right-2 h-5 w-5 cursor-pointer;
}

.hover-trigger .hover-target {
    display: none;
}

.hover-trigger:hover .hover-target {
    display: block;
}
